.not-found-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.not-found-title {
  font-size: 4rem;
  color: #333;
}

.not-found-paragraph {
  font-size: 1.5rem;
  color: #666;
  margin-top: 1rem;
}
